$base-grey: #dcdfe6;
$light-grey: #e4e7ed;
$lighter-grey: #ebeef5;
$extra-light: #f2f6fc;

$table-bg: #ffffff;
$text-color: #606266;
$secondary-text-color: #909399;
$input-border-color: $base-grey;
$border-color: $base-grey;
$highlight-color: #f1f5fd;

$thead-bg-color-1: #f4f5f8;
$thead-bg-color-2: #f1f3f6;
$chevron-color: #606266;

$link-color: #409eff;
$notify-bg-color: #fdf9e8;
$notify-fg-color: #b38d28;
